choice
prompt "VexRiscv simulation implementation"
depends on SOC_SERIES_RISCV32_VEXRISCV_SIM

config SOC_RISCV32_VEXRISCV_SIM
	bool "VexRiscv simulation system implementation"
	select ATOMIC_OPERATIONS_C

endchoice
