if SOC_VEXRISCV_CONTEST_UP5KAREA

config SOC
	string
	default "vexriscv_contest_up5karea"

config COMPILER_OPT
    string
    default "-march=RV32I"

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 42

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x00010

config RISCV_ROM_SIZE
	hex
	default 0x07000

config RISCV_RAM_BASE_ADDR
	hex
	default	0x08000

config RISCV_RAM_SIZE
	hex
	default 0x07000

config UART_BASE
	hex
	default 0x70000

config VEXRISCV_TIMER_COUNTER_BASE
    hex
    default 0x70010

config VEXRISCV_TIMER_CMP_BASE
    hex
    default 0x70018
endif