if SOC_VEXRISCV_CONTEST_UP5KPERF

config SOC
	string
	default "vexriscv_contest_up5kperf"

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 42

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x10000

config RISCV_ROM_SIZE
	hex
	default 0x10000

config RISCV_RAM_BASE_ADDR
	hex
	default	0x00000

config RISCV_RAM_SIZE
	hex
	default 0x10000

config RISCV_MTIME_BASE
	hex
	default 0x70010

config RISCV_MTIMECMP_BASE
	hex
	default 0x70018


config UART_BASE
	hex
	default 0x70000
endif